:root {
    --bg--button:#ffffff;
    --border-button: solid 1px #888888;
}

.button {
    font-size: 30px;
    background-color: var(--bg--button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    cursor: pointer;
}

.button:active {
    background-color: #cccccc;
}

.button.double {
    grid-column: 2 span;
}

.button.triple {
    grid-column: 3 span;
}

.button.operation {
    background-color: #fa8231;
    color: #ffffff
}

.button.operation:active{
    background-color: #fa8231cc;
}